<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_inventory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.Report.ExportActivity"></activity>
        <activity android:name=".UI.User.AddUserActivity" />
        <activity android:name=".UI.User.UpdateUserActivity" />
        <activity android:name=".Adapter.AdapterUsers" />
        <activity android:name=".UI.Shipped.EditShippedActivity" />
        <activity android:name=".UI.Shipped.AddShippedActivity" />
        <activity android:name=".Adapter.AdapterShipped" />
        <activity android:name=".UI.Recieved.EditReceivedActivity" />
        <activity android:name=".UI.Recieved.AddReceivedActivity" />
        <activity android:name=".Adapter.AdapterReceived" />
        <activity android:name=".UI.Supplier.AddSupplierActivity" />
        <activity android:name=".Adapter.AdapterSupplier" />
        <activity android:name=".UI.Category.AddCategoryActivity" />
        <activity android:name=".UI.Product.AddProductActivity" />
        <activity android:name=".UI.Supplier.DetailSupplierActivity" />
        <activity android:name=".UI.Category.DetailKategoriActivity" />
        <activity android:name=".UI.Product.DetailProductActivity" />
        <activity android:name=".Adapter.AdapterProduct" />
        <activity android:name=".UI.User.UserActivity" />
        <activity android:name=".UI.Report.ReportActivity" />
        <activity android:name=".Adapter.AdapterCategory" />
        <activity android:name=".UI.Supplier.SupplierActivity" />
        <activity android:name=".UI.Shipped.ShippeedActivity" />
        <activity android:name=".UI.Recieved.RecievedActivity" />
        <activity android:name=".UI.Profile.ProfileActivity" />
        <activity android:name=".UI.Product.ProductActivity" />
        <activity android:name=".UI.Login.LoginActivity" />
        <activity android:name=".UI.Category.CategoryActivity" />
        <activity android:name=".UI.Beranda.BerandaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>